.App {
  text-align: center;
  margin: 0; /* Ensure there's no margin */
  padding: 0; /* Ensure there's no padding */
  background-color: #282c34; /* Ensure the background color covers the entire app */
}

html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Make sure the body and html elements cover the full height of the viewport */
  background-color: #111827; /* Ensure the background color of the whole page is consistent */
}

#root {
  height: 100%; /* Make sure the root div covers the full height of the page */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
